* {
    box-sizing: border-box;
}

.container {
    width: 452px;
    height: 452px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    border: 0.1px solid lightgray;
}

.coloured {
    background-color: black;
}